# Ausgeschlossene Dateien
/Test.txt
/QuickNotes.txt
/Problems.txt
/Roadmap.txt
/Transition.txt

# Ausschlossene Verzeichnisse
/Artifacts/
/Artifacts/*
/DevKit/
/DevKit/*
/Docs/
/Docs/*
/ExFiles/
/ExFiles/*
/Reports/
/Reports/*
/Repositories/
/Repositories/*
/Server/
/Server/*
/Temp/
/Temp/*
/Tools/Credentials/
/Tools/Credentials/*

# Ausgeschlossene Artefakte
**/.zig-cache/
**/zig-out/

# OS- und Editor-Muell
Thumbs.db
.DS_Store
desktop.ini
.vscode/
.idea/
*.swp
*.swo
*~
